<%= simple_form_for(:session, url: sessions_path) do |f| %>
  <%= f.input :name, error: false, input_html: { class: 'form-control' } %>
  <%= f.input :password, error: false, input_html: { class: 'form-control' } %>
  <%= f.button :submit, 'Submit' %>
<% end %>

<br>

<p>Don't have an account? 
  <%= link_to 'Sign up now.', signup_path %>
</p>
