<div class="comment <%= cycle('odd-comment', 'even-comment') %>">
  <div><%= comment.body %></div>
  <div class="posted-by">
    Posted by <strong>
      <%= comment.user.try(:name) || 'Anonymous User' %>
    </strong> at <%= comment.created_at %>
  </div>
  
  <div class="reply-div">
    <input type="button" class="reply-button btn" value="Reply">
  </div>

  <div class="reply-form">
    <%= simple_form_for Comment.new, url: comment_comments_path(comment.id) do |f| %>
      <%= render 'shared/form_errors', object: f.object %>
      <%= f.input :body, label: false, error: false, input_html: { class: 'form-control' } %>
      <%= f.button :submit, 'Submit' %>
    <% end %>
    <input type="button" class="cancel-button btn" value="Cancel">
  </div>

  <%= render comment.comments %>
</div>
