<% @articles.each do |article| %>
  <div class="article-div">
    <div>
      <span class="article-title">
        <strong><%= article.title %></strong>
      </span>

      <span class="article-url">
        <% if article.url? %>
          <%= link_to "(#{article.url})", article.url %>
        <% else %>
          <span>(text only)</span>
        <% end %>
      </span>
    </div>

    <div class="article-date col-lg-6">Posted at <%= article.created_at %></div>
    <div class="col-lg-6"><%= link_to "View post", article_path(article) %></div>

    <% if article.content? %>
      <div class="article-content">
        <%= article.content %>
      </div>
    <% end %>

  </div>
<% end %>

<% if total_page_num > 1 %>
  <div class="page-nav col-lg-12">
    <% 1.upto(total_page_num) do |n| %>
      <%= link_to n, articles_path(page_number: n) %>
    <% end %>
  </div>
<% end %>

