<% @articles.each do |article| %>
  <div class="article-div">
    <%= render partial: 'shared/article_info', locals: { class_substring: '', article: article } %>
    
    <%= render partial: 'shared/commentable_user_info', locals: { div_class: 'posted-by col-lg-6', resource: article } %>

    <div class="col-lg-6"><%= link_to "View post", article_path(article) %></div>

    <%= render partial: 'shared/article_content', locals: { article: article } %>

    <%= render 'votes/vote', object: article %>

  </div>
<% end %>

<% if total_pages > 1 %>
  <div class="page-nav col-lg-12">
    <% 1.upto(total_pages) do |n| %>
      <% if current_page == n %>
        <strong><%= n %></strong>
      <% else %>
        <%= link_to n, articles_path(page_number: n) %>
      <% end %>
    <% end %>
  </div>
<% end %>

