<% if @article.errors.any? %>
  <div class="alert alert-danger">
    <strong>The following errors prevented this article from being saved:</strong>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @article  do |f| %>
  <%= f.input :title, error: false, input_html: { class: 'form-control' } %>
  <%= f.input :url, as: :url, error: false, input_html: { class: 'form-control' } %>
  <%= f.input :content, input_html: { class: 'form-control' } %>
  <%= f.button :submit, 'Submit' %>
<% end %>

<br>

<%= link_to 'Back to List', articles_path %>

