<div>
  <span class="article-title-show"><strong><%= @article.title %></strong></span>

  <% if @article.url? %>
    <span class="article-url-show"><%= link_to @article.url, @article.url %></span>
  <% end %>

</div>

<div><%= "Posted at #{@article.created_at}" %></div>

<% if @article.content? %>
  <div><%= @article.content %></div>
<% end %>

<% if signed_in? %>
  <%= simple_form_for @comment, url: article_comments_path(@article.id), method: :post do |f| %>
    <%= render 'shared/form_errors', object: f.object %>
    <%= f.input :body, error: false, input_html: { class: 'form-control' } %>
    <%= f.button :submit, 'Submit' %>
  <% end %>
<% end %>

<div class="comments">
  <% if @article.comments.any? %>
    <%= render 'comments/comment_list', object: @article %>
  <% else %>
    <h3>No comments yet!</h3>
  <% end %>
</div>
