<!DOCTYPE html>
<html>
<head>
  <title>Hacker News Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Welcome to Haxx0r News', root_path, class: "navbar-brand" %> 
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li>
            <%= link_to submit_path do %>
              <div>Post new article <span class="glyphicon glyphicon-plus"></span></div>
            <% end %>
            </li>
            <li>
            <%= link_to 'Edit profile', edit_user_path(current_user) %>
            </li>
            <li>
            <%= link_to 'Sign out', signout_path, method: 'delete' %>
            </li>
          <% else %>
            <li><%= link_to 'Sign in', signin_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <div class="footer col-md-12">
      <div class="col-md-4"><a href="mailto:andrewcandrea@gmail.com">andrewcandrea@gmail.com</a></div>
      <div class="col-md-4">Created by <a href="http://linkedin.com/in/andycandrea">Andy Andrea</a></div>
      <div class="col-md-4"><a href="http://github.com/andycandrea">github.com/andycandrea</a></div>
    </div>

  </div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
